 <% provide(:head_title, "Editar") %>
<h2>Editar <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password, autocomplete: "off", hint: "deixe em branco se não quiser alterar", required: false %>
    <%= f.input :password_confirmation, required: false %>
    <%= f.input :current_password, hint: "precisamos da sua senha atual para confirmar as mudanças", required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Atualizar" %>
  </div>
<% end %>

<h3>Cancelar minha conta</h3>

<p>Infeliz? <%= link_to "Cancelar minha conta", registration_path(resource_name), data: { confirm: "Certeza disso?" }, method: :delete %></p>

<%= link_to "Voltar", :back %>
