
<% provide(:head_title, "Registrar-se") %>
 <% provide(:title, "Acessar área restrita") %>
 <% provide(:sub_title, "Entre com seu usuário e senha para acessar o sistema") %>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :password, required: true, hint: ("mínimo de #{@minimum_password_length} caracteres" if @minimum_password_length) %>
    <%= f.input :password_confirmation, required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Registrar-se" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
