 <% provide(:head_title, "Entrar") %>
 <% provide(:title, "Acessar área restrita") %>
 <% provide(:sub_title, "Entre com seu usuário e senha para acessar o sistema") %>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email, required: false, autofocus: true %>
    <%= f.input :password, required: false %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Entrar" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
