/*************************************************************
* Vertical and horizontal align
**************************************************************/

html, body {
  height: 100%;
}

.container {
  height: 100%;
}

.vertical-centering {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.horizontal-centering {
  width: 50%;
  margin: auto;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
  max-width: 150px;
}