<nav class="navbar navbar-inverse no-radius fixed">
  <div class="container-fluid no-padding">
    <div class="navbar-header">

      <!-- Collapsed Hamburger -->
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navbar-collapse">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <!-- Branding Image -->
      <%= link_to image_tag 'logos/logo-spectacle.png', id: "logo" %>
      
    </a>
  </div>

  <div class="collapse navbar-collapse" id="app-navbar-collapse">
    <!-- Left Side Of Navbar -->
    <ul class="nav navbar-nav">
      &nbsp;
    </ul>

    <!-- Right Side Of Navbar -->
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
         Menu<span class="caret"></span>
       </a>

       <ul class="dropdown-menu" role="menu">
        <li>
          <%= link_to 'Meu perfil', edit_user_registration_path, class: '' %>
        </li>
        <li>
          <%= link_to 'Sair', destroy_user_session_path, method: :delete, class: '' %>
        </li>
      </ul>
    </li>
    <% else %>
    <li>  <%= link_to 'Entrar', new_user_session_path, class: '' %></li>
    <% end %>
  </ul>
</div>
</div>
</nav>
