<%= render partial: "layouts/header" %>

<body>

  <div id="home-index" >

    <%= render partial: "layouts/navbar" %>

    <div class="container">

      <div class="vertical-centering horizontal-centering">
        <%= render 'shared/flash_messages'%>           
        <%= yield %>

      </div> <!-- .vertical-centering .horizontal-centering -->

    </div>


  </div>

</body>
</html>