<%= render partial: "layouts/header" %>

<body>
 <%= render partial: "layouts/navbar" %>
 <div id="<%= controller_name %>-<%= action_name %>" class="container">

   <div class="vertical-centering horizontal-centering">

    <%= render 'shared/flash_messages'%>

    <div>
     <h3 class="text-center gray-text2"><%= yield :title %></h3>
     <p class="gray-text2"><%= yield :sub_title %></p>
   </div>
   <%= render 'shared/flash_messages'%>
   <%= yield %>
   
 </div> <!-- .vertical-centering .horizontal-centering -->
</div> <!-- #home-index -->

</body>
</html>